#cabecalho {
    top: 0;
    position: fixed;
}

body {
    background-color: rgb(253, 251, 251)
}

h1{
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
}

#minha_foto {
    margin-top: 80px;
}

h2 {
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
}

ol li {
font-size: 18px;
line-height: 25px;
font-family: 'Times New Roman', Times, serif;
}

h3 {
font-size: 25px;
}

ul li {
font-size: 18px;
line-height: 25px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}

h4 {
font-size: 25px;
line-height: 10px;
font-family: 'Times New Roman', Times, serif;
}

p {
font-size: 18px;
line-height: 25px;
font-family: 'Times New Roman', Times, serif;
}

h5 {
font-size: 25px;
line-height: 10px;
font-family: 'Times New Roman', Times, serif;
}
p1 {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;  
}

#rodape{
    font-size: 23px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}
